<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>Label</key>
      <string>clipper</string>
      <key>ProgramArguments</key>
      <array>
         <string>/usr/local/bin/clipper</string>
         <string>--address</string>
         <string>~/.clipper.sock</string>
         <string>--logfile</string>
         <string>~/.clipper.log</string>
      </array>
      <key>RunAtLoad</key>
      <true/>
   </dict>
</plist>
